@import "variable";

@media (min-width: 1023px) {

}
@media all and (max-width: 1022px) {

}
@media all and (max-width: 767px) {

}

@media all and (max-width: 558px) {

}

.footer {
    background: linear-gradient(#084057, rgba(0, 120, 157, 0.96));
    color: #fff;
}

.footer h2 {
    font-family: unihev, serif;
}

.footer img {
    border-radius: 7px;
}

@media all and (min-width: 320px) {
  .footer h2 {
   font-size: 45px;
   padding: 95px 0 53px 0;
  }

  .footer {
      font-size: 29px;
  }

  .footer-decription {
      font-size: 25px;
  }
}

@media all and (min-width: 768px) {
.footer-item-70 {
  width: 70%;
  padding-right: 25px;
}
.footer-item-30 {
    width: 30%;
  }
}
