.hero {
  position: relative;
  &-background {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-body {
    color: #fff;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    padding-top: 200px;
    h1 {
      margin-bottom: 55px;
      max-width: 650px;
      width: 100%;
    }
    h2 {
      font-size: 30px;
      margin-bottom: 35px;
      max-width: 460px;
      width: 100%;
    }
  }
  .container {
    height: 100vh;
  }
}

@media all and (min-width: 320px) {
  .hero-body h2 {
      font-size: 27px;
      font-weight: normal;
      text-transform: lowercase;
  }
  .hero-body h1 {
      font-size: 37.5px;
  }
  
  .hero button {
      max-width: 333px;
  }
}
@media all and (min-width: 767px) {
  .hero-body h2 {
    font-size: 26px;
  }

  .hero-body h1 {
    font-size: 36px;
  }
}

@media all and (min-width: 1280px) {
  .hero-body h2 {
      font-size: 30px;
      font-weight: normal;
  }
  .hero-body h1 {
      font-size: 45px;
  }
}

@media all and (min-width: 1366px) {

}
